@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unknown error";
}
<div class="panel-group jumbotron" style="margin-top:60px;">
    <img class="pull-left" src="~/images/main_logo.png" alt="" style="width:300px;height:350px;margin:20px">
    <h1 class="text-danger">Error 500</h1>
    <h2 style="margin:30px">@BNB.Resources.Resource.UnknownErrorMsg</h2>
    <h3 style="margin:30px">@BNB.Resources.Resource.UnknownErrorPropositions</h3>
    <p style="margin:30px"><a href="Home/Instruction" class="btn btn-primary btn-lg">@BNB.Resources.Resource.UnknownErrorLeaveFeedback &raquo;</a></p>
    <p style="margin:50px"></p>
</div>